.login-check{
    margin-left: 20px;
}
.sidebar-menu .active .fa-angle-left, .sidebar-menu .active .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
@media (max-width: 991px) {
    .content-header > .btn_group_work {
        display: none;
    }
}
.content-header > .btn_group_work {
    margin-top: -5px;
    margin-bottom: 10px;
}
.lease_cover{
    width: 100%;
    min-height: 100px;
    border: 2px dashed #606c84;
}
.delete-lease-photo{
    position: absolute;
    color: #f00;
    top: 12px;
    cursor: pointer;
    font-size: 18px;
    right: 12px;
}
.form-group .select2-container--default .select2-selection--single {
    background-color: #fff;
    height: 34px;
    border: 1px solid #d2d6de;
     border-radius: 0px;
}